name: release-please
on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: Release Please
        uses: google-github-actions/release-please-action@v3
        with:
          release-type: simple
        id: release

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Tag major and minor versions
        if: ${{ steps.release.outputs.release_created }}
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git tag -d v${{ steps.release.outputs.major }} || true
          git tag -d v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }} || true
          git tag -a v${{ steps.release.outputs.major }} -m 'Release v${{ steps.release.outputs.major }}'
          git tag -a v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }} -m 'Release v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}'
          git push -f origin v${{ steps.release.outputs.major }}
          git push -f origin v${{ steps.release.outputs.major }}.${{ steps.release.outputs.minor }}
